<div class="container">
<div class="row">
	<div class="col">
		<select class="form-select form-select-sm" aria-label=".form-select-lg" id="treatment_list">
			<option selected>Válasszon kezelést</option>
			{% for treatment in treatments %}
                <option value="{{ treatment.id }}">{{ treatment.name }}</option>
            {% endfor %}
		</select>
	</div>
	<div class="col">
		<button type="button" class="btn btn-success btn-sm" id="save_treatment">Rögzítés</button>
	</div>
</div>
<div class="row mt-1">
    <div class="list-group">
    {% for invention in inventions %}
        <button type="button" class="list-group-item list-group-item-action invention_btn" id="{{ invention.id }}">
        {{ invention.treatment.name }}
            [{% for tooth in invention.teeth %}{{ tooth.positionNumeric }}{% if loop.last %}{% else %},{% endif %}{% endfor %}]
        </button>
    {% endfor %}
    </div>
</div>

<script>
    $('#save_treatment').click(function(){
        teethList = [];
        $('.cb_teeth:checkbox:checked').each(function(){
            teethList.push( $(this).attr('tdid') );
        });
        console.log($('#treatment_list').val());

        //@TODO: save the treatment into DB
        $.ajax({
            url: "/save_intervetion",
            method: "POST",
            data: {treatment: $('#treatment_list').val(), teeth: teethList}
        }).done(function() {
            console.log( 'DONE!' );
        });
    });

    $('.invention_btn').click(function(){
        
    });
</script>
</div>